
html, body{
	background-color: #fff;
	color: #636b6f;
	font-family: 'time';
	font-weight: 100;
	height: 100vh;
	margin: 0;
}
.full-heigth{
	height: 100vh;
}
.flex-center{
	align-items: center;
	display: flex;
	justify-content: center;
}
.position-ref{
	position: absolute;
}
.top-rigth{
	position: absolute;
	right: 10px;
	top: 10px;
}
.content{
	text-align: center;
}
.title{
	font-size: 84px;
}
.links > a{
	color: #636b6f;
	padding: 0 25px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;


}
header h1 {
	margin-bottom: 30px;
}

section p{

	font-size: 20px;
	text-align:justify;

}
section {
	margin-left: 5%;
	margin-right: 5%;
}